<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  <script defer src="{{ '/script.js' | relative_url }}"></script>
  <meta name="google-site-verification" content="t53rD3NblQJyC2ZrIp0LezMwtM5Zn16gG_36R0lrRDA" />
</head>
<body>

  <header class="header">
    <h1>  中根進之介</h1>
    <nav>
      <a href="{{ '/' | relative_url }}#about">About</a>
      <a href="{{ '/' | relative_url }}#data">Research</a>
      <a href="{{ '/' | relative_url }}#iot">IoT</a>
      <a href="{{ '/' | relative_url }}#game">Game</a>
      <a href="{{ '/' | relative_url }}#contact">Contact</a>
    </nav>
  </header>

  <main class="content">
  {{ content }}
　</main>


  <footer>
    <p>© 2025 Shinnosuke Nakane</p>
  </footer>

</body>
</html>